<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
  </head>
  <body>
    <h1>Logged Out</h1>
    <p>Well not really, nothing has actually happened here.</p>
    <p>In a real app the JWT token would have beens stored in local storage, or as a cookie, or maybe in session storage.</p>
    <p>The token would be sent in the authorization header with every request made to a secured route.</p>
    <p>Then, to log the user out you would simply delete the token from the client, and redirect the user to some unsecured page.</p>
  </body>
</html>
