<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Members Only</title>
  </head>
  <body>
    <%- console.log('user') %>
    <%- console.log(user) %>
    <h1>Welcome to the Members Only Party!!!</h1>
    <p>Your email address is <%= user.email %>, but you probably knew that already.</p>
    <hr>
    <p>Your JWT Token is: </p>
    <p><%= query.jwtToken %></p>
    <hr>
    <% if(typeof message !== 'undefined') { %>
      <p><%= message %></p>
      <hr>
    <% } %>
    <p>In this example project the token is being passed as a URL query string.</p>
    <p>In a real project you'd want to pass the JWT as JSON, and save it to local storage or as a cookie on the client side</p>
    <p>Then it would be added to the request authorization header with every request made to a secure route</p>
    <hr>
    <% if(!(user && user.twoFactorSecret && user.twoFactorSecret.base32)) { %>
      <p style="color:red;text-transform:uppercase;">Your account is insecure and will be hacked any minute!! <a style="text-transform:none;" href="/activate-2-factor-authentication?email=<%= user.email %>">Click here to activate 2-factor authentication</a></p>
      <hr>
    <% } else { %>
      <p>Phew!! OK your account is now secured with 2-factor authentication.</p>
      <hr>
    <% } %>
    <form class="" action="/logout" method="post">
      <br>
      <h4>Party pooper?</h4>
      <button type="submit" name="button">Log out</button>
    </form>
  </body>
</html>
